		{exp:channel:entries channel="sitewide" dynamic="no"}
		<section class="cta-signup {if segment_1 !=""}sub{/if}" style="background: url('{site_url}assets/img/footer-cta-bg.png'); background-position: top; background-size: cover;">
			<div class="lead-grabber">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							{if segment_1 !="schedule" && segment_3 !='scheduled'}
							<h2>{cta_footer_title}</h2>
							<a class="btn primary-btn" href="{cta_footer_link}">{cta_footer_label}</a>
							{if:elseif segment_1 == 'schedule'}
								<h2>Is this an emergency?</h2>
								<a class="btn primary-btn" href="tel:4172068787">Call Now!</a>
							{if:else}
								<h2>Is this an emergency?</h2>
								<a class="btn primary-btn" href="tel:4172068787">Call Now!</a>
							{/if}
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Footer -->
		<footer>
			<p class="text-center social-tagline">Stay Connected!</p>
			<ul class="social-media">
				{social_media}
				<li><a target="_blank" href="{social_media:link}"><i class="fa fa-{social_media:icon}"></i></a></li>
				{/social_media}
			</ul>
			<a class="creators" href="http://www.onyourleft.marketing">
				<div class="footer-logo-wrap">
					<img src="{site_url}assets/img/oyllogo.png" class="footer-logo">
					<!-- <p class="text-center">created by: <a href="http://www.shawnbrandt.com">ShawnBrandt</a></p> -->
					<p class="text-center">OnYourLeft.Marketing</p>
				</div>
			</a>
		</footer>
		<!-- #site-canvas -->
		</div>
	<!-- #site-wrapper> -->
	</div>
	{/exp:channel:entries}



</body>
</html>