{if !segment_1}
	{exp:channel:entries channel="home" entry_id='1' dynamic="no"}
		{exp:seo_lite entry_id="{entry_id}"}
		<title>{entry_title} - Angel Clean</title>
		<meta name="description" content="{meta_description}" />
		<meta name='keywords' content='{meta_keywords}' />

		<!-- Twitter Card data -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="">
		<meta name="twitter:title" content="{entry_title} - Angel Clean">
		<meta name="twitter:description" content="{meta_description}">
		<meta name="twitter:image" content="{exp:ce_img:single src='{home_social_image}' quality='84' width='506' height='253' crop='yes|center,center' url_only='yes'}">


		<!-- Open Graph data -->
		<meta property="og:title" content="{entry_title} - Angel Clean" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="{site_url}" />
		<meta property="og:image" content="{exp:ce_img:single src='{home_social_image}' quality='84' width='1200' height='900' crop='yes|center,center' url_only='yes'}" />
		<meta property="og:description" content="{meta_description}" /> 
		<meta property="og:site_name" content="{site_name}" />
		{/exp:seo_lite}
	{/exp:channel:entries}

{if:elseif segment_1 =="about"}
	{exp:channel:entries channel="about" dynamic="no"}
		{exp:seo_lite entry_id="{entry_id}"}
		<title>{entry_title} - Angel Clean</title>
		<meta name="description" content="{meta_description}" />
		<meta name='keywords' content='{meta_keywords}' />

		<!-- Twitter Card data -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="">
		<meta name="twitter:title" content="{entry_title} - Angel Clean">
		<meta name="twitter:description" content="{meta_description}">
		<meta name="twitter:image" content="{exp:ce_img:single src='{about_social_image}' quality='84' width='506' height='253' crop='yes|center,center' url_only='yes'}">


		<!-- Open Graph data -->
		<meta property="og:title" content="{entry_title} - Angel Clean" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="{site_url}" />
		<meta property="og:image" content="{exp:ce_img:single src='{about_social_image}' quality='84' width='1200' height='900' crop='yes|center,center' url_only='yes'}" />
		<meta property="og:description" content="{meta_description}" /> 
		<meta property="og:site_name" content="{site_name}" />
		{/exp:seo_lite}
	{/exp:channel:entries}

{if:elseif segment_1 =="services"}
	{exp:channel:entries channel="services" dynamic="no" limit="1" sort="desc"}
		{exp:seo_lite entry_id="{entry_id}"}
		<title>{entry_title} - Angel Clean</title>
		<meta name="description" content="{meta_description}" />
		<meta name='keywords' content='{meta_keywords}' />

		<!-- Twitter Card data -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="">
		<meta name="twitter:title" content="{entry_title} - Angel Clean">
		<meta name="twitter:description" content="{meta_description}">
		<meta name="twitter:image" content="{exp:ce_img:single src='{service_social_image}' quality='84' width='506' height='253' crop='yes|center,center' url_only='yes'}">


		<!-- Open Graph data -->
		<meta property="og:title" content="{entry_title} - Angel Clean" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="{site_url}" />
		<meta property="og:image" content="{exp:ce_img:single src='{service_social_image}' quality='84' width='1200' height='900' crop='yes|center,center' url_only='yes'}" />
		<meta property="og:description" content="{meta_description}" /> 
		<meta property="og:site_name" content="{site_name}" />
		{/exp:seo_lite}
	{/exp:channel:entries}

{if:elseif segment_1 =="service" && segment_2}

	{exp:channel:entries channel="services" dynamic="no" url_title="{segment_2}" limit="1" sort="desc"}
		{exp:seo_lite entry_id="{entry_id}"}
		<title>{entry_title} - Angel Clean</title>
		<meta name="description" content="{meta_description}" />
		<meta name='keywords' content='{meta_keywords}' />

		<!-- Twitter Card data -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="">
		<meta name="twitter:title" content="{entry_title} - Angel Clean">
		<meta name="twitter:description" content="{meta_description}">
		<meta name="twitter:image" content="{exp:ce_img:single src='{service_social_image}' quality='84' width='506' height='253' crop='yes|center,center' url_only='yes'}">


		<!-- Open Graph data -->
		<meta property="og:title" content="{entry_title} - Angel Clean" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="{site_url}" />
		<meta property="og:image" content="{exp:ce_img:single src='{service_social_image}' quality='84' width='1200' height='900' crop='yes|center,center' url_only='yes'}" />
		<meta property="og:description" content="{meta_description}" /> 
		<meta property="og:site_name" content="{site_name}" />
		{/exp:seo_lite}
	{/exp:channel:entries}

{if:elseif segment_1 =="schedule"}
	
	{exp:channel:entries channel="schedule" dynamic="no"}
		{exp:seo_lite entry_id="{entry_id}"}
		<title>{entry_title} - Angel Clean</title>
		<meta name="description" content="{meta_description}" />
		<meta name='keywords' content='{meta_keywords}' />

		<!-- Twitter Card data -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="">
		<meta name="twitter:title" content="{entry_title} - Angel Clean">
		<meta name="twitter:description" content="{meta_description}">
		<meta name="twitter:image" content="{exp:ce_img:single src='{schedule_social_image}' quality='84' width='506' height='253' crop='yes|center,center' url_only='yes'}">


		<!-- Open Graph data -->
		<meta property="og:title" content="{entry_title} - Angel Clean" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="{site_url}" />
		<meta property="og:image" content="{exp:ce_img:single src='{schedule_social_image}' quality='84' width='1200' height='900' crop='yes|center,center' url_only='yes'}" />
		<meta property="og:description" content="{meta_description}" /> 
		<meta property="og:site_name" content="{site_name}" />
		{/exp:seo_lite}
	{/exp:channel:entries}

{if:elseif segment_1 =="contact"}
	
	{exp:channel:entries channel="contact" dynamic="no"}
		{exp:seo_lite entry_id="{entry_id}"}
		<title>{entry_title} - Angel Clean</title>
		<meta name="description" content="{meta_description}" />
		<meta name='keywords' content='{meta_keywords}' />

		<!-- Twitter Card data -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="">
		<meta name="twitter:title" content="{entry_title} - Angel Clean">
		<meta name="twitter:description" content="{meta_description}">
		<meta name="twitter:image" content="{exp:ce_img:single src='{contact_social_image}' quality='84' width='506' height='253' crop='yes|center,center' url_only='yes'}">


		<!-- Open Graph data -->
		<meta property="og:title" content="{entry_title} - Angel Clean" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="{site_url}" />
		<meta property="og:image" content="{exp:ce_img:single src='{contact_social_image}' quality='84' width='1200' height='900' crop='yes|center,center' url_only='yes'}" />
		<meta property="og:description" content="{meta_description}" /> 
		<meta property="og:site_name" content="{site_name}" />
		{/exp:seo_lite}
	{/exp:channel:entries}

{/if}