
{exp:channel:entries channel="stats" dynamic="no"}
<section class="bg-white header-pd stats">
	<div class="container small">
		<div class="row">
			<div class="col-sm-4">
				<p class="text-center"><span>{first_number}</span>{if first_prefix}{first_prefix}{/if}<br>
					{first_stat_title}</p>
			</div>
			<div class="col-sm-4">
				<p class="text-center just-text">{sec_stat_first_line}<br>{sec_stat_sec_line}</p>
			</div>
			<div class="col-sm-4">
				<p class="text-center alt"><span>{sec_number}</span>{if sec_prefix}{sec_prefix}{/if}<br>
					{sec_stat_title}</p>
			</div>
		</div>
	</div>	
</section>
{/exp:channel:entries}