/*
* Uses Font Awesome and Bootstrap 3
* Both aren't required for this demo
*/
#site-wrapper {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  height: 100vh; /* Temp: Simulates a tall page. */
}
#site-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  
  /*-webkit-transform: translateX(0);
  transform: translateX(0);
  
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
 
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; */
}
.show-nav #site-canvas {
  /*-webkit-transform: translateX(300px);
  transform: translateX(300px);
  
  -webkit-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);*/
}
#site-menu {
  width: 300px;
  height: 100%;
  position: fixed;
  height: 100%;
  height: 100vh;
  top: 85px;
  right: -300px;
  background: #fff;
  padding: 0px;
  overflow-y: auto;
  -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
  padding-bottom: 83px;
    border-left: 3px solid #F58E03;
}

@media (max-width: 320px) {
  #site-menu {
    width: 100%;
    right: -100%;
    border-left: 0px;
  }
}

#site-menu.change {
    right: 0;
    z-index: 999;
     -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}

#site-menu ul {
  margin:0;
  padding:0;
  list-style-type: none;
}

#site-menu li a {
  color: #202cb8;
  text-transform: uppercase;
  font-size: 35px;
  padding: 7px 20px;
  text-align: right;
  width: 100%;
  display: inline-block;
  text-decoration: none;
  line-height: 1.1;
  font-family: 'Ubuntu-Bold';
  font-weight: bold;
  font-style: normal;
  letter-spacing: 1.3px;
   -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
@media (max-width: 480px) {
  #site-menu li a {
    font-size: 28px;
  }
}
#site-menu li a:hover,
#site-menu li a:focus {
  text-decoration: none;
}

#site-menu li a:active {
    color: #F58E03;
     -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

/*#site-menu li a:active:after {
  right: 15px;
}*/

#site-menu li a.active {
  background: #202cb8;
  color: white;
  position: relative;
}

#site-menu li a.active::after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #202cb8 transparent transparent transparent;
  position: absolute;
  bottom: -10px;
  right: 29px;
}

#site-menu li a.active.sub::after {
  border-color: transparent;
}

#site-menu ul ul {
  padding: 20px 5px;
  margin:0;
  background: #9999cc;
  list-style-type: none;
}

#site-menu ul ul li a {
  font-size: 20px !important;
  text-decoration: none !important;
  text-transform: none !important;
  color: white;
}

/* Just styles... Not relevant to demo */
body {
  background-color: #202cb8;
  color: #fff;
  font-family: 'Ubuntu-Medium';
  font-weight: normal;
  font-style: normal;
}
#toggleNavBtn {
  width: 50px;
  padding: 5px 10px 7px 10px;
  font-size: 29px;
  font-weight: 300;
  position: fixed;
  z-index: 999;
  right: 20px;
  top: 20px;
  -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#toggleNavBtn:hover,
#toggleNavBtn:active,
#toggleNavBtn:focus,
#toggleNavBtn:visited {
  color: #202cb8;
  -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.nav-btn {
  border: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  background: white;
  color: #202cb8;
  -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.nav-btn.change {
  color: white !important;
  background: #202cb8;
   -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

header {
  width: 100%;
  padding: 20px 0;
  background: white;
  height: 90px;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  border-bottom: 5px solid #F58E03;
  -webkit-box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.34);
-moz-box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.34);
box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.34);
}

.logo {
    max-width: 300px;
    width: 100%;
    padding: 0 10px 10px 10px;
    position: fixed;
    top: 22px;
    left: 50%;
    margin-left: -160px;
    z-index: 999;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.logo-block {
    background: white;
    max-width: 280px;
    width: 100%;
    height: 80px;
    margin-left: -150px;
    position: fixed;
    top: 85px;
    z-index: 0;
    left: 50%;
    border-bottom: 5px solid #F58E03;
    border-bottom-right-radius: 400px;
    border-bottom-left-radius: 400px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

@media (min-width: 768px) {
    .logo-block.affix {
      top: 0;
      -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    border-bottom: 0;
    }
    .logo.affix {
        max-width: 200px;
        width: 100%;
        padding: 0 10px 10px 10px;
        position: fixed;
        top: 4px;
        left: 50%;
        margin-left: -110px;
        z-index: 999;
        -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    }
}


@media (max-width: 768px) {
  .logo-block {
    display: none;
  }
  .logo {
    position: fixed;
    left: 10px;
    top: 10px;
    max-width: 170px;
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .logo {
    left: 5px;
    top: 15px;
    max-width: 150px;
  }
}

.bg-slide {
  width: 100%;
  height: 600px;
  margin-top: 80px;
}

@media (max-width: 768px) {
  .bg-slide {
    height: 410px;
  }
}

@media (max-width: 480px) {
  .bg-slide {
    height: 280px;
  }
}

.slider {
  position: relative;
}

.slider .owl-controls {
  position: absolute;
  z-index: 9;
  bottom: 0;
  left: 0;
  width: 100%;
  background: transparent;
  height: 100px;
}

.slider .owl-controls .owl-prev,
.slider .owl-controls .owl-next,
.sub-banner .prev,
.sub-banner .next {
  padding: 28px 0 30px 0;
  width: 100px;
  text-align: center;
  position: absolute;
  bottom: 0;
  font-size: 26px;
  min-height: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1px;
  top: 0;
}

.slider .owl-controls .owl-next,
.sub-banner .next {
  right: 0;
  border-left: 3px solid white;
}

.slider .owl-controls .owl-prev,
.sub-banner .prev {
  left: 0;
  border-right: 3px solid white;
}

.slide-content {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  z-index: 999;
  background: #202cb8;
  background: rgba(32, 44, 184, .7);
  height: 100px;
  display: table;
  overflow: hidden;
  padding: 0 110px;
}

@media (max-width: 480px) {
  .slider .owl-controls .owl-prev, .slider .owl-controls .owl-next,
  .sub-banner .next, .sub-banner .prev {
      padding: 7px 0 10px 0;
      width: 50px;
      text-align: center;
      position: absolute;
      bottom: 0;
      font-size: 16px;
      min-height: 30px;
      margin-top: 10px;
      margin-bottom: 10px;
      line-height: 1px;
      top: 0;
  }
  .slider .owl-controls {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: transparent;
      height: 50px;
  }
  .slide-content {
    height: 50px;
  }
}

.slide-content h2 {
  margin: 0;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
}

.slide-content h2 a {
  color: white;
}

@media (max-width: 992px) {
  .slide-content h2 {
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  .slide-content {
    padding: 0 50px;
  }
  .slide-content h2 {
    font-size: 18px;
  }
}

.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owl-item {
    -webkit-backface-visibility: hidden !important;
    -webkit-transform: translateZ(0) scale(1.0, 1.0) !important;
}

.bg-white {
  background: white;
}

.trans-white-bg {
  background: white;
  background: rgba(255,255,255, .3);
}

.bg-blue {
  background: #202cb8;
}

.bg-light-blue {
    background: #2C3BEC;
}

.header-pd {
  padding: 30px 0;
}

.primary-pd {
  padding: 90px 0;
}

@media (max-width: 1200px) {
  .primary-pd {
    padding: 60px 0;
  }
}

@media (max-width: 992px) {
  .primary-pd {
    padding: 40px 0;
  }
}

@media (max-width: 769px) {
  .primary-pd {
    padding: 30px 0;
  }
}

.cta-start {
  color: #202cb8;
  text-align: center;
}

input.primary,
select.primary,
textarea.primary {
  color: #202cb8 !important;
  width: 100%;
  border: 1px solid #202cb8;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 26px;
  -webkit-box-shadow: 0px 3px 5px 1px rgba(32,44,184,0.46);
-moz-box-shadow: 0px 3px 5px 1px rgba(32,44,184,0.46);
box-shadow: 0px 3px 5px 1px rgba(32,44,184,0.46);
}

textarea.primary {
  min-height: 175px;
}

input.primary:focus {
  outline: #202cb8;
}

textarea.primary {
  outline: 0;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #202cb8;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
      -webkit-box-shadow: 0px 3px 5px 1px rgba(32,44,184,0.46);
    -moz-box-shadow: 0px 3px 5px 1px rgba(32,44,184,0.46);
    box-shadow: 0px 3px 5px 1px rgba(32,44,184,0.46);
}

select.primary {
  padding: 10px;
  height: 59px;
  border-radius: 0 !important;
  -webkit-appearance: none;
  position: relative;
}

select.primary:focus {
  border-color: #202cb8;
  -webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,.075),0 0 8px rgba(32, 44, 184,.6);
  box-shadow: inset 0 2px 2px rgba(0,0,0,.075),0 0 8px rgba(32, 44, 184,.6);
}

.primary-btn {
  background: #202cb8;
  border: 0;
  border-radius: 0;
  padding: 13px 0;
  width: 100%;
  color: white;
  font-size: 18px;
  letter-spacing: 1.3px;
}

.primary-btn:hover,
.primary-btn:visited {
  color: white !important;
  -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.primary-btn:active,
.primary-btn:focus {
   -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.325);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.325);
        outline: 0 !important;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

button:active,
button:focus,
button:visited,
button {
  outline: 0 !important;
  color: white !important;
}

.cta-start .primary-btn {
  max-width: 175px;
  margin: 0 auto;
}

.cta-start h2 {
  margin: 0;
  padding: 0;
  margin: 10px 0 20px 0;
}

.cta-start h3 {
  font-size: 18px;
}

.tagline h2 {
  font-size: 28px;
  margin: 0;
  padding: 0;
}

.services-header {
  margin: 5px 0;
  border-top: 7px solid #202cb8;
  border-bottom: 7px solid #202cb8;
}

.services-header.sub-header {
  border-top: 0;
  margin: 0;
}

.services-header h3 {
    color: #202cb8;
    font-size: 64px;
    margin: 0;
    font-family: 'Ubuntu-Bold';
    font-weight: bold;
    font-style: normal;
}

@media (max-width: 480px) {
  .services-header {
    font-size: 42px;
  }
}

footer {
  padding-top: 400px;
    background-image: url('../img/dotsfooter.png');
  background-size: 100%;
  background-position: 0% 100%;
  background-repeat-y: no-repeat;
  position: relative;
}

@media (min-width:992px) {
  footer {
    background-size: 50%;
    background-position: 0% 100%;
  }
}

@media (max-width: 480px) {
  footer {
    background-size: 260%;
    background-repeat: no-repeat;
  }
}


.cta-signup {
  padding: 180px 0;
  position: relative;
}

.cta-signup.sub {
  padding-top: 0px;
  padding-bottom: 360px;
}

.bg-slide.service {
  height: 530px;
  margin-top: 7px;
}

@media (max-width: 480px) {
  .bg-slide.service {
    height: 320px;
  }
}

.container.small {
  max-width: 850px;
  margin: 0 auto;
  display: block;
}

.nav-serv {
  min-height: 120px;
  width: 100%;
}

@media (max-width: 480px) {
  .nav-serv {
    display: none;
  }
}

.nav-serv p.icon {
  text-align: center;
      font-size: 40px;
    padding-top: 10px;
}

.bg-slide.service a {
  color: white;
  text-decoration: none;
}

.bg-slide.service h3 {
  font-size: 20px;
  top: 75px;
  width: 100%;
  left: 0;
  position: absolute;
  z-index: 9999;
  margin: 0;
  padding: 0;
  letter-spacing: .7px;
}

.bg-slide.service h3:after {
  content: '';
  width: 70px;
  height: 3px;
  background: white;
  position: absolute;
  left: 50%;
  bottom: -10px;
  margin-left: -35px;
}

.services-slider .owl-controls {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.services-slider .owl-controls .owl-prev,
.services-slider .owl-controls .owl-next {
  font-size: 32px;
  position: absolute;
  display: table;
  overflow: hidden;
  height: 100px;
  top: 17px;
  width: 100px;
}

.services-slider .owl-controls .owl-prev {
    border-right: 3px solid white;
}

.services-slider .owl-controls .owl-next {
    right: 0px;
    border-left: 3px solid white;
}

@media (max-width: 480px) {
  .services-slider .owl-controls .owl-prev,
  .services-slider .owl-controls .owl-next {
        font-size: 32px;
        position: absolute;
        display: table;
        overflow: hidden;
        height: 50px;
        top: 140px;
        width: 55px;
        background: #202cb8;
    }
}

.services-slider .owl-controls .owl-prev i,
.services-slider .owl-controls .owl-next i {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.details-wrap {
  padding: 10px;
  margin-top: -60px;
}

.details-wrap a.serv-title {
  text-decoration: none;
  color: #202cb8;
}

.details-wrap p {
  font-size: 16px;
  color: #202cb8;
}

.details-wrap h3 {
  font-size: 40px;
  color: #202cb8;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  .details-wrap h3 {
    font-size: 26px;
  }
  .details-wrap {
    margin-top: -50px;
  }
}

.details-wrap .primary-btn {
  max-width: 170px;
}

@media (max-width: 480px) {
  .details-wrap .primary-btn {
    max-width: 100%;
  }
}

.lead-grabber {
  color: #202cb8;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: -61px;
}

@media (max-width: 992px) {
  .lead-grabber {
    margin-top: -121px;
  }
}

@media (max-width: 768px) {
  .lead-grabber {
    margin-top: -80px;
  }
}

@media (max-width: 480px) {
  .lead-grabber {
    margin-top: -110px;
  }
}

.lead-grabber h2 {
  font-size: 38px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  .lead-grabber h2 {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  .lead-grabber h2 {
    font-size: 28px;
  }
}

.lead-grabber .primary-btn {
  max-width: 240px;
}

.footer-logo {
  max-width: 120px;
  left: 50%;
  margin-left: -60px;
  bottom: 65px;
  position: absolute;
  box-shadow: 0 0 20px 5px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 20px 5px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 0 20px 5px rgba(0,0,0,0.3);
  -o-box-shadow: 0 0 20px 5px rgba(0,0,0,0.3);
  border-radius:100px;
}

.footer-logo-wrap {
  width: 100%;
  padding: 10px 0;
  max-width: 240px;
  margin: 0 auto;
}

.footer-logo-wrap p {
  padding: 0;
  margin: 0;
  font-size: 18px;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.footer-logo-wrap p a {
  color: #202cb8;
  text-decoration: none;
}

.footer-logo-wrap p a:hover,
.footer-logo-wrap p a:focus,
.footer-logo-wrap p a:active {
  text-decoration: underline;
}

a.link-service {
  color: white;
  height: 50px;
  display: table;
  overflow: hidden;
  width: 100%;
    background: #202cb8;
    background: rgba(32, 44, 184, .7);
    border: 0;
    border-radius: 0;
    position: absolute;
    bottom: 100px;
    z-index: 999999;
    cursor: pointer;
    max-width: 176px;
    margin-left: -88px;
    left: 50%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

a.link-service div {
  display: table-cell;
  vertical-align: middle;
  font-size: 16px;
  letter-spacing: .7px;
}

a.link-service:hover,
a.link-service:active,
  a.link-service:focus {
    background:  rgba(32, 44, 184, .7) !important;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
  }

@media (max-width: 480px) {
  a.link-service:hover {
    background: #202cb8;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
  }
  a.link-service:active,
  a.link-service:focus {
    background: #202cb8 !important;
        -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.325);
      box-shadow: inset 0 3px 5px rgba(0,0,0,.325);
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
  }
}




@media (max-width: 480px) {
  a.link-service {
    width: 100%;
    background: #202cb8;
    background: rgba(32, 44, 184, .7);
    border: 0;
    border-radius: 0;
    position: absolute;
    bottom: 50%;
    z-index: 999999;
    height: 50px;
    cursor: pointer;
    max-width: 176px;
    margin-left: -88px;
    left: 50%;
    margin-bottom: -50px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
}

ul.social-media {
  display: inline-block;
  margin: 0 auto;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
  position: absolute;
  top: 100px;
  left: 0;
}

ul.social-media li {
  display: inline;
}

ul.social-media li a {
  display: inline-block;
  color: white;
  font-size: 42px;
  padding: 0 10px;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.social-tagline {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 28px;
  letter-spacing: 1.3px;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

footer a.footer-logo-wrap:hover {
  text-decoration: none;
}

a.creators {
  color: white;
  font-size: 14px;
  font-family:'Ubuntu-Bold';
  font-weight: bold;
  font-style: normal;
}

ul.social-media li a:hover,
ul.social-media li a:focus,
ul.social-media li a:active {
  color: #F58E03;
  -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.sub-header h1 {
  text-align: left;
  font-size: 32px;
  margin: 0;
  padding: 0;
  color: #202cb8;
}

.services-list h1 {
  text-align: center !important;
}

.sub-banner h2 {
  text-transform: uppercase;
  font-family: 'Ubuntu-Bold';
  font-weight: bold;
  font-style: normal;
  letter-spacing: 4.2px;
}

.sub-banner .slide-content {
  bottom: 0px;
  z-index: 9;
}

.sub-banner .slide-content a {
  color: white;
}

.content ul li,
.content ol li,
.content ul,
.content ol {
  color: #202cb8;
}

.content ul,
.content ol {
  list-style-type: circle;
  padding-left: 15px;
  font-size: 16px;
  line-height: 1.5;
}

.content {
  padding: 20px 0;
}
.content p {
  font-size: 18px;
  color: #202cb8;
  line-height: 1.5;;
}

.content img {
  max-width: 100%;
  margin-top: 20px;
  width: 100%;
  height: auto;
}

.stats p {
  color: #202cb8;
  font-size: 18px;
  line-height: 1;
}

@media (max-width: 769px) {
  .stats p {
    padding-bottom: 30px;
  }
  .stats p.alt {
    padding-bottom: 0;
  }
}

.stats p span {
  font-size: 40px;
}
.stats p.just-text {
  font-size: 30px;
}

.bg-slide.sub-banner {
  position: relative;
}

.center-standard {
  max-width: 240px;
  margin: 0 auto;
  display: block;
}

.overlay {
   background:transparent; 
   position:relative; 
   width:100%;
   height:480px; /* your iframe height */
   top:480px;  /* your iframe height */
   margin-top:-480px;  /* your iframe height */
}

.map-wrap {
  border: 3px solid #202cb8;
}

.map-wrap .primary-btn {
  position: absolute;
  max-width: 240px;
  left: 50%;
  bottom: 0;
  margin-left: -120px;
}

@media (max-width: 320px) {
  .map-wrap .primary-btn {
      position: absolute;
      max-width: 180px;
      left: 50%;
      bottom: 0;
      margin-left: -90px;
  }
}


.contact-form {
  padding: 10px 0;
}

.select-dd-icon {
  position: absolute;
  z-index: 99;
  font-size: 18px;
  top: 20px;
  right: 35px;
  color: #202cb8;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #202cb8;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: #202cb8;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: #202cb8;
}
input:-moz-placeholder { /* Firefox 18- */
  color: #202cb8;
}

textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #202cb8;
}
textarea::-moz-placeholder { /* Firefox 19+ */
  color: #202cb8;
}
textarea:-ms-input-placeholder { /* IE 10+ */
  color: #202cb8;
}
textarea:-moz-placeholder { /* Firefox 18- */
  color: #202cb8;
}

.services-list a:hover,
.services-list a:focus,
.services-list a:active {
  text-decoration: none;
}

.services-header.sub-header a:hover {
  color: #F58E03;
}

#site-menu ul ul li a.active,
#site-menu ul ul li a:active {
  color: #202cb8;
  background: transparent;
  -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#site-menu ul li ul li a.active:after {
  content: '';
}

p.contact-starter {
  color: #202cb8;
}

.text-center {
  text-align: center !important;
}

strong {
  font-family: 'Ubuntu-Bold';
  font-weight: bold;
  font-style: normal;
}
