{embed="inc/_open-page"}

{exp:channel:entries channel="schedule" dynamic="no"}
		<div style="background:url('{exp:ce_img:single src='{schedule_banner}' quality='84' width='1920' height='1080' crop='yes|center,center' url_only='yes'}'); background-size: cover; background-position: center center; background-repeat: no-repeat;" class="bg-slide sub-banner">
			<div class="slide-content">
					<div class="prev">
					</div>
				<h2 class="upper">{title}</h2>
					<div class="next">
					</div>
			</div>
		</div>


		<section class="bg-white header-pd services-header sub-header">
			<div class="container small">
				<div class="row">
					<div class="col-xs-12">
						<h1 class="text-center">{schedule_subtitle}</h1>
					</div>
				</div>
			</div>	
		</section>


		<section class="bg-white contact-form">
			<div class="container small">
				{exp:freeform:form form_name="contact" required="email" return="contact/thankyou/scheduled"}
					<div class="row">
						<div class="col-xs-12">
							<p class="contact-starter text-center">{schedule_detail_info}</p>
						</div>
					</div>
{/exp:channel:entries}
					<div class="row">
						<div class="col-md-6">
							<input class="primary" name="first_name" placeholder="First Name">
						</div>
						<div class="col-md-6">
							<input class="primary" name="last_name" placeholder="Last name">
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<input class="primary" name="email" placeholder="Email Address">
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<input class="primary" name="phone_number" placeholder="Phone Number">
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<input class="primary" name="address" placeholder="Address">
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<input class="primary" name="city" placeholder="City">
						</div>
						<div class="col-md-6">
							<i class="fa fa-caret-down select-dd-icon"></i>
							<select name="stateselect" class="form-control primary state-select" title="State">
				                <option class="placeholder" value="">Select State</option>
				                
				                <option class="stateselect" value="AL">Alabama</option>
								<option class="stateselect" value="AK">Alaska</option>
								<option class="stateselect" value="AZ">Arizona</option>
								<option class="stateselect" value="AR">Arkansas</option>
								<option class="stateselect" value="CA">California</option>
								<option class="stateselect" value="CO">Colorado</option>
								<option class="stateselect" value="CT">Connecticut</option>
								<option class="stateselect" value="DE">Delaware</option>
								<option class="stateselect" value="DC">District Of Columbia</option>
								<option class="stateselect" value="FL">Florida</option>
								<option class="stateselect" value="GA">Georgia</option>
								<option class="stateselect" value="HI">Hawaii</option>
								<option class="stateselect" value="ID">Idaho</option>
								<option class="stateselect" value="IL">Illinois</option>
								<option class="stateselect" value="IN">Indiana</option>
								<option class="stateselect" value="IA">Iowa</option>
								<option class="stateselect" value="KS">Kansas</option>
								<option class="stateselect" value="KY">Kentucky</option>
								<option class="stateselect" value="LA">Louisiana</option>
								<option class="stateselect" value="ME">Maine</option>
								<option class="stateselect" value="MD">Maryland</option>
								<option class="stateselect" value="MA">Massachusetts</option>
								<option class="stateselect" value="MI">Michigan</option>
								<option class="stateselect" value="MN">Minnesota</option>
								<option class="stateselect" value="MS">Mississippi</option>
								<option class="stateselect" value="MO">Missouri</option>
								<option class="stateselect" value="MT">Montana</option>
								<option class="stateselect" value="NE">Nebraska</option>
								<option class="stateselect" value="NV">Nevada</option>
								<option class="stateselect" value="NH">New Hampshire</option>
								<option class="stateselect" value="NJ">New Jersey</option>
								<option class="stateselect" value="NM">New Mexico</option>
								<option class="stateselect" value="NY">New York</option>
								<option class="stateselect" value="NC">North Carolina</option>
								<option class="stateselect" value="ND">North Dakota</option>
								<option class="stateselect" value="OH">Ohio</option>
								<option class="stateselect" value="OK">Oklahoma</option>
								<option class="stateselect" value="OR">Oregon</option>
								<option class="stateselect" value="PA">Pennsylvania</option>
								<option class="stateselect" value="RI">Rhode Island</option>
								<option class="stateselect" value="SC">South Carolina</option>
								<option class="stateselect" value="SD">South Dakota</option>
								<option class="stateselect" value="TN">Tennessee</option>
								<option class="stateselect" value="TX">Texas</option>
								<option class="stateselect" value="UT">Utah</option>
								<option class="stateselect" value="VT">Vermont</option>
								<option class="stateselect" value="VA">Virginia</option>
								<option class="stateselect" value="WA">Washington</option>
								<option class="stateselect" value="WV">West Virginia</option>
								<option class="stateselect" value="WI">Wisconsin</option>
								<option class="stateselect" value="WY">Wyoming</option>
				            </select>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<i class="fa fa-caret-down select-dd-icon"></i>
							<select name="serviceselect" class="form-control primary state-select" title="Service Interested In">
				                <option class="placeholder" value="">Select Service</option>
				                {exp:channel:entries channel="services" dynamic="no"}
				                <option class="serviceselect" value="{title}">{title}</option>
				               	{/exp:channel:entries}
				            </select>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<textarea class="primary" name="user_message" placeholder="Extra Details..."></textarea>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<button class="btn primary-btn" type="submit">Submit</button>
						</div>
					</div>
				{/exp:freeform:form}
			</div>
		</section>

		
{exp:channel:entries channel="contact" dynamic="no"}
		<section class="bg-white primary-pd">
			<div class="container small">
				<div class="row content">
					<div class="col-xs-12">
						<p class="text-center">{subform_text_1}</p>
						<p class="text-center">{subform_text_2}</p>
						<a href="{subform_link}" class="btn primary-btn center-standard">{subform_label}</a>
					</div>
				</div>
			</div>
		</section>

		<section class="bg-white">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<a target="_blank"  href="http://www.bbb.org/southwestern-missouri/business-reviews/carpet-and-rug-cleaners/angel-clean-carpet-cleaning-in-neosho-mo-20830#bbbseal"><img class="img-responsive center-block" src="{site_url}assets/img/bbb-logo.png"></a>
					</div>
				</div>
			</div>
		</section>


		<section class="bg-white">
			<div class="container small">
				<div class="row content">
					<div class="col-xs-12">
						<div class="map-wrap">
							<div class="overlay" onClick="style.pointerEvents='none'">
							</div>
							<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1634437.911052259!2d-94.368081!3d36.860158!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x12236bb98127feec!2sAngel+Clean!5e0!3m2!1sen!2sus!4v1505327217880" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
							<a href="https://www.google.com/maps/place/Angel+Clean/@36.860158,-94.368081,8z/data=!4m5!3m4!1s0x0:0x12236bb98127feec!8m2!3d36.860158!4d-94.368081" target="_blank" class="btn primary-btn">Get Directions</a>
						</div>
					</div>
				</div>
			</div>
		</section>
{/exp:channel:entries}


{embed="inc/stats"}
{embed="inc/_close-page"}