{embed="inc/_open-page"}

{exp:channel:entries channel="home" dynamic="no"}
		<div class="slider">
			{slider}
			<div>
				<div style="background:url('{exp:ce_img:single src='{slider:image}' quality='84' width='1920' height='1080' crop='yes|center,center' url_only='yes'}'); background-size: cover; background-position: center center; background-repeat: no-repeat;" class="bg-slide">
					<a href="{slider:link}" class="btn btn-primary link-service"><div>{slider:label}</div></a>
					<div class="slide-content">
						<h2>{slider:title}</h2>
					</div>
				</div>
			</div>
			{/slider}
		</div>

		<div class="bg-white header-pd">
			<div class="container">
				<div class="row cta-start">
					<div class="col-xs-12">
						<h3>{home_cta_title}</h3>
						<h2>{home_cta_title_bigger}</h2>
						<a href="{home_cta_link}" class="btn primary-btn">
							{home_cta_label}
						</a>
					</div>
				</div>
			</div>
		</div>

		<section class="bg-light-blue header-pd tagline">
			<h2 class="text-center">{above_services_cta}</h2>
		</section>
{/exp:channel:entries}

		<section class="bg-white header-pd services-header">
			<h3 class="text-center">Services</h3>
		</section>

		<section class="bg-white">
			<div class="container small">
				<div class="row">
					<div class="col-xs-12">
						<div class="services-slider">
							{exp:channel:entries channel="services" dynamic="no" sort="asc"}
							<div>
								<div style="background:url('{exp:ce_img:single src='{service_preview_banner}' quality='84' width='820' height='530' crop='yes|center,center' url_only='yes'}'); background-size: cover; background-position: center center; background-repeat: no-repeat;" class="bg-slide service">
									<div class="bg-blue nav-serv">
										<p class="icon"><i class="fa fa-{service_preview_icon}" aria-hidden="true"></i></p>
										<br>
										<a href="{site_url}services/{url_title}">
										<h3 class="text-center">{title}</h3></a>
									</div>
								</div>
								<div class="details-wrap trans-white-bg">

									<a class="serv-title" href="{site_url}services/{url_title}"><h3 class="">{title}</h3></a>
									<p>{exp:eehive_hacksaw
chars = "200" append="..."}{service_body}{/exp:eehive_hacksaw}</p>
									<a href="{site_url}services/{url_title}" class="btn primary-btn">Read More</a>
								</div>
							</div>
							{/exp:channel:entries}
						</div>
					</div>
				</div>
			</div>
		</section>

{embed="inc/_close-page"}