{embed="inc/_open-page"}

{exp:channel:entries channel="thank_you" dynamic="no"}
		<div style="background:url('{thankyou_banner}'); background-size: cover; background-position: center center; background-repeat: no-repeat;" class="bg-slide sub-banner">
			<div class="slide-content">
					<div class="prev">
					</div>
				<h2 class="upper">{ty_header}</h2>
					<div class="next">
					</div>
			</div>
		</div>
			

		<section class="bg-white header-pd services-header sub-header">
			<div class="container small">
				<div class="row">
					<div class="col-xs-12">
						<h1 class="text-center">{ty_subheader}</h1>
					</div>
				</div>
			</div>	
		</section>

		<section class="bg-white primary-pd">
			<div class="container small">
				<div class="row content">
					<div class="col-xs-12">
						<p class="text-center">{if !segment_3}{ty_body}{if:else}{schedule_ty_message}{/if}</p>
					</div>
				</div>
			</div>
		</section>
{/exp:channel:entries}


{embed="inc/_close-page"}