{embed="inc/_open-page"}

{exp:channel:entries channel="about" dynamic="no"}
<div style="background:url('{exp:ce_img:single src='{about_banner}' quality='84' width='1920' height='1080' crop='yes|center,center' url_only='yes'}'); background-size: cover; background-position: center center; background-repeat: no-repeat;" class="bg-slide sub-banner">
	<div class="slide-content">
			<div class="prev">
			</div>
		<h2 class="upper">About</h2>
			<div class="next">
			</div>
	</div>
</div>
	

<section class="bg-white header-pd services-header sub-header">
	<div class="container small">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="">{about_title}</h1>
			</div>
		</div>
	</div>	
</section>

<section class="bg-white">
	<div class="container small">
		<div class="row content">
			<div class="col-xs-12">
				{exp:ce_img:bulk width="820" height="460" crop="yes" allow_scale_larger="no" quality="90" output='<img src="{made}" alt="{attr:alt}" style="max-width:100%;width:100%; height: auto;" />'}
				{about_body}
				{/exp:ce_img:bulk}
				{about_image_loop}
					<img src="{exp:ce_img:single src='{about_image_loop:image}' quality='84' width='820' height='460' crop='yes|center,center' url_only='yes'}" class="img-responsive">
				{/about_image_loop}
				
			</div>
		</div>
	</div>
</section>
{/exp:channel:entries}

{embed="inc/stats"}
{embed="inc/_close-page"}