{embed="inc/_open-page"}

{if !segment_2}
{exp:channel:entries channel="services" limit="1" sort="asc" show_future_entries="yes"}
<div style="background:url('{exp:ce_img:single src='{service_banner}' quality='84' width='1920' height='1080' crop='yes|center,center' url_only='yes'}'); background-size: cover; background-position: center center; background-repeat: no-repeat;" class="bg-slide sub-banner">
	<div class="slide-content">
			<div class="prev">
			</div>
		<h2 class="upper">Services</h2>
			<div class="next">
			</div>
	</div>
</div>
{/exp:channel:entries}
	
{exp:channel:entries channel="services" dynamic="no" sort="asc"}
<section class="bg-white header-pd services-header sub-header">
	<div class="container small">
		<div class="row services-list">
			<div class="col-xs-12">
				<a href="{site_url}services/{url_title}"><h1 class="text-center">{title}</h1></a>
			</div>
		</div>
	</div>	
</section>
{/exp:channel:entries}

{if:else}

{exp:channel:entries channel="services" url_title="{segment_2}"}
<div style="background:url('{exp:ce_img:single src='{service_banner}' quality='84' width='1920' height='1080' crop='yes|center,center' url_only='yes'}'); background-size: cover; background-position: center center; background-repeat: no-repeat;" class="bg-slide sub-banner">
	<div class="slide-content">
		{exp:channel:prev_entry channel="services"}
		<a href="{path='services'}">
			<div class="prev">
				<i class="fa fa-caret-left"></i>
			</div>
		</a>
		{/exp:channel:prev_entry}
		<h2 class="upper">Services</h2>
		{exp:channel:next_entry channel="services"}
		<a href="{path='services'}">
			<div class="next">
				<i class="fa fa-caret-right"></i>
			</div>
		</a>
		{/exp:channel:next_entry}
	</div>
</div>
	

<section class="bg-white header-pd services-header sub-header">
	<div class="container small">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="">{title}</h1>
			</div>
		</div>
	</div>	
</section>

<section class="bg-white">
	<div class="container small">
		<div class="row content">
			<div class="col-xs-12">
				{exp:ce_img:bulk width="820" height="460" crop="yes" allow_scale_larger="no" quality="90" output='<img src="{made}" alt="{attr:alt}" style="max-width:100%;width:100%; height: auto;" />'}
				{service_body}
				{/exp:ce_img:bulk}
				{service_image_loop}
				<img src="{exp:ce_img:single src='{service_image_loop:image}' quality='84' width='820' height='460' crop='yes|center,center' url_only='yes'}" class="img-responsive">
				{/service_image_loop}
			</div>
		</div>
	</div>
</section>
{/exp:channel:entries}
{embed="inc/stats"}
{/if}

{embed="inc/_close-page"}